{{ ansible_managed | comment }}

[Unit]
Description=Prometheus domain Exporter
After=network-online.target
StartLimitInterval=0

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/bin/domain_exporter -b ":{{ domain_exporter_port }}"
ExecReload=/bin/kill -HUP $MAINPID
SyslogIdentifier=domain_exporter
RestartSec=1
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
